<kt-portlet>
	<mat-tab-group>
		<mat-tab label="Căn cứ">
			<ng-template matTabContent>
				<kt-can-cu-list></kt-can-cu-list>
			</ng-template>
		</mat-tab>
		<mat-tab label="Biểu mẫu">
			<ng-template matTabContent>
				<kt-bieu-mau-list></kt-bieu-mau-list>
			</ng-template>
		</mat-tab>
		<mat-tab label="Biểu mẫu thành phần">
			<ng-template matTabContent>
				<kt-bieu-mau-thanh-phan-list></kt-bieu-mau-thanh-phan-list>
			</ng-template>
		</mat-tab>
		<!--<mat-tab label="Biểu mẫu quà lễ tết">
			<ng-template matTabContent>
				<kt-bieu-mau-qua-list></kt-bieu-mau-qua-list>
			</ng-template>
		</mat-tab>-->
	</mat-tab-group>
</kt-portlet>
