<style>
	tr.example-detail-row {
		height: 0;
	}

	tr.example-detail-row.example-expanded-row {
		height: 48px;
		display: table-row;
	}

	tr.example-element-row:not(.example-expanded-row):hover {
		background: whitesmoke;
	}

	tr.example-element-row:not(.example-expanded-row):active {
		background: #efefef;
	}

	.example-element-detail {
		overflow: hidden;
		display: none;
	}

	.mat-row.error td {
		color: red;
	}

	.row-return {
		background: #ffb881;
	}
</style>
<kt-portlet>
	<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$ ">
		<ng-container ktPortletTitle>
			<div class="kt-form__filtration">
				<h3 class="kt-portlet__head-title" >
					<span *ngIf="!IsEnable_Duyet">Danh sách nhập cần duyệt</span>
					<span *ngIf="IsEnable_Duyet">Danh sách nhập đã duyệt</span>
				</h3>
			</div>
		</ng-container>
		<ng-container ktPortletTools>
			<div class="kt-form">
				<div class="row align-items-center collapse kt-form__group-actions"
					 [ngClass]="{'show' : selection.selected.length > 0}">
					<div class="col-xl-12">
						<div class="kt-form__group kt-form__group--inline">
							<div class="kt-form__label kt-form__label-no-wrap">
								<label class="kt--font-bold kt-font-danger-">
									Số lượng đã chọn: {{ selection.selected.length }}
								</label>
							</div>
							<div class="kt-form__control kt-form__group--inline">
								<ng-container *ngIf="selectedTab==0">
									<button mat-raised-button color="primary" (click)="duyets(true)"
										matTooltip="Duyệt danh sách được chọn" class="mat-button-mt-4">
										Duyệt
									</button>
									<button mat-raised-button color="warn" (click)="duyets(false)"
										matTooltip="Không duyệt danh sách được chọn" class="mat-button-mt-4">
										Không duyệt
									</button>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
			<kt-column-option [gridService]="gridService"></kt-column-option>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<ng-container *ngIf="!IsEnable_Duyet">
			<mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="changeTab($event)">
				<mat-tab label="Danh sách nhập">
					<ng-template matTabContent></ng-template>
				</mat-tab>
			</mat-tab-group>
		</ng-container>
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-xl-1">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput [(ngModel)]="nam" placeholder="Năm" type="number" />
						</mat-form-field>
					</div>
					<div class="col-md-3 kt--margin-bottom-10-mobile" [hidden]="selectedTab!=0">
						<mat-form-field class="mat-form-field-fluid ">
							<mat-select placeholder="{{ 'DISTRICT.NAME' | translate }}" [(value)]="filterdistrict" (selectionChange)="filterDistrictID(filterdistrict)" [disabled]="UserInfo.Capcocau == 2">
								<mat-option value="">Tất cả</mat-option>
								<mat-option value="{{district.ID_Row}}" *ngFor="let district of listdistrict;">{{district.District}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-3 kt--margin-bottom-10-mobile" [hidden]="selectedTab!=0">
						<mat-form-field class="mat-form-field-fluid ">
							<mat-select placeholder="{{ 'WARD.NAME' | translate }}" [(value)]="filterward" (selectionChange)="loadDataList()">
								<mat-option value="">Tất cả</mat-option>
								<mat-option value="{{ward.ID_Row}}" *ngFor="let ward of listward;">{{ward.Ward}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div [hidden]="selectedTab!=0">
			<div class="mat-table__wrapper" [ngStyle]="{'overflow-x': gridService.model.haveFilter?'unset':'auto'}">
				<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort #sort1='matSort' matSortActive="Deadline_Duyet"
					style="width: 100%;" matSortDirection="asc" matSortDisableClear [ngClass]="{'dl-table-flt': gridService.model.haveFilter}" cdkDropListGroup>
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef class="mat-column-checkbox select-cell" style="padding-right: 20px;" [hidden]="IsEnable_Duyet">
							<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let row" class="mat-column-checkbox select-cell" style="padding-right: 20px;" [hidden]="IsEnable_Duyet">
							<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'" [disabled]="row.IsEnable_Duyet || row.Id==null">
							</mat-checkbox>
						</td>
					</ng-container>
					<ng-container matColumnDef="STT">
						<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode stt-cell">STT</th>
						<td mat-cell class="stt-cell" *matCellDef="let item;let i=index">{{i + 1}}</td>
					</ng-container>
					<ng-container matColumnDef="DistrictName">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>
							Huyện
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center;white-space: nowrap;">{{item.DistrictName}}</td>
					</ng-container>
					<ng-container matColumnDef="Id_Xa">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>
							Xã
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center;white-space: nowrap;">
							<span *ngIf="selectedTab==0 || UserInfo.Capcocau!=1">{{item.Xa}}</span>
							<ng-container *ngIf="selectedTab!=0 && UserInfo.Capcocau==1">
								<a href="javascript:;" (click)="showCanDuyet(item)"><b title="Tổng số xã">{{item.Xa.sl}}</b> | <b style="color:green;" title="Số xã đã gửi">{{item.Xa.da_gui}}</b> | <b style="color:red;" title="Số xã cần duyệt">{{item.Xa.can_duyet}}</b></a>
							</ng-container>
						</td>
					</ng-container>
					<ng-container matColumnDef="TenDanhSach">
						<th mat-header-cell *matHeaderCellDef style="flex: 0 0 25%; white-space: nowrap;">
							<kt-column-filter [gridService]="gridService" enable_sort="true" column_name="TenDanhSach" column_title="Tên danh sách"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let item" style="flex: 0 0 25%">{{item.TenDanhSach}}</td>
					</ng-container>
					<ng-container matColumnDef="Thang">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>
							Tháng
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.ThangNhap}}</td>
					</ng-container>
					<ng-container matColumnDef="SLTang">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							SL tăng
						</th>
						<td mat-cell *matCellDef="let item" style="flex: 0 0 15%">{{item.SLTang}}</td>
					</ng-container>
					<ng-container matColumnDef="SLGiam">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							SL giảm
						</th>
						<td mat-cell *matCellDef="let item" style="flex: 0 0 15%">{{item.SLGiam}}</td>
					</ng-container>
					<ng-container matColumnDef="TongSo">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							Tổng số
						</th>
						<td mat-cell *matCellDef="let item" style="flex: 0 0 15%">{{item.TongSo}}</td>
					</ng-container>
					<ng-container matColumnDef="TongTien">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							Tổng tiền
						</th>
						<td mat-cell *matCellDef="let item" style="flex: 0 0 15%">{{item.TongTien | mask:'separator':CommonService.thousandSeparator}}</td>
					</ng-container>
					<ng-container matColumnDef="IsTre">
						<th mat-header-cell *matHeaderCellDef>
							<kt-column-filter [gridService]="gridService" enable_sort="false" column_name="IsTre" column_title="Thời hạn"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let item">
							<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide kt-badge--warn" *ngIf="item.IsTre" title="Trễ hạn">{{item.Deadline}}</span>
							<span *ngIf="!item.IsTre">{{item.Deadline}}</span>
						</td>
					</ng-container>
					<ng-container matColumnDef="IsTre_Duyet">
						<th mat-header-cell *matHeaderCellDef>
							<kt-column-filter [gridService]="gridService" enable_sort="false" column_name="IsTre_Duyet" column_title="Thời hạn cá nhân"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let item">{{item.Deadline_Duyet}}
							<span title="Quá hạn xử lý" *ngIf="item.IsTre_Duyet">
								<mat-icon style="color:#eaf461f7">warning</mat-icon>
							</span>
						</td>
					</ng-container>
					<ng-container matColumnDef="CreatedBy">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							<span translate="COMMON.CREATED_BY"></span>
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.CreatedBy}}</td>
					</ng-container>
					<ng-container matColumnDef="CreatedDate">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							<span translate="COMMON.CREATED_DATE"></span>
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.CreatedDate}}</td>
					</ng-container>
					<ng-container matColumnDef="UpdatedBy">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							<span translate="COMMON.UPDATED_BY"></span>
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedBy}}</td>
					</ng-container>
					<ng-container matColumnDef="UpdatedDate">
						<th mat-header-cell *matHeaderCellDef style="justify-content: center">
							<span translate="COMMON.UPDATED_DATE"></span>
						</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedDate}}</td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef style="width: 100px;">
							<span translate="COMMON.TACVU"></span>
						</th>
						<td mat-cell *matCellDef="let item" class="action-cell" [ngClass]="list_button?'list-button':''">
							<ng-container *ngIf="!IsEnable_Duyet && item.Id>0">
								<a [routerLink]="['/duyet-bao-hiem/danh-sach', item.Id]" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" 
									matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="info">
									<mat-icon>remove_red_eye</mat-icon>
									<span class="button-text">{{ 'COMMON.DETAIL' | translate }}</span>
								</a>
								<button (click)="DuyetDanhSach(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" 
									*ngIf="item.IsVisible_Duyet" [disabled]="item.IsEnable_Duyet"
										matTooltip="Duyệt" color="primary" type="button">
									<mat-icon>done_outline</mat-icon>
									<span class="button-text">Duyệt</span>
								</button>
							</ng-container>
							<ng-container *ngIf="IsEnable_Duyet">
								<button (click)="detail(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button"
									matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="info" type="button" *ngIf="IsEnable_Duyet">
									<mat-icon>visibility</mat-icon>
									<span class="button-text">{{ 'COMMON.DETAIL' | translate }}</span>
								</button>
								<button (click)="TraLai(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" matTooltip="Trả lại xã" color="warn" type="button" *ngIf="item.AllowBack">
									<mat-icon>undo</mat-icon>
									<span class="button-text">Trả lại xã</span>
								</button>
							</ng-container>
							<button mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" type="button" 
								(click)="DuyetDanhSach(item, false)" matTooltip="Thảo luận" color="primary">
								<mat-icon>insert_comment</mat-icon>
								<span class="button-text">Thảo luận</span>
							</button>
							<button type="button" (click)="timeline(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" color="primary" matTooltip="Xem sơ đồ">
								<mat-icon>timeline</mat-icon>
								<span class="button-text">Xem sơ đồ</span>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="gridService.model.displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: gridService.model.displayedColumns" [ngClass]="{'row-return': row.IsReturn, error:row.IsTre}"></tr>

				</table>
				<div class="mat-table__message" *ngIf="!dataSource.hasItems">
					<span translate="COMMON.NO_RECORD_FOUND"></span>
				</div>
			</div>

			<div class="mat-table__bottom" [ngClass]="{'exist-flt': gridService.model.haveFilter}" [hidden]="selectedTab!=0">
				<div class="flt-selected" *ngIf="gridService.model.haveFilter" style="max-width:50%;">
					<mat-chip-list>
						<ng-container *ngFor="let chip of gridService.model.lstChip">
							<mat-chip removable="true" *ngIf="chip.type==2" (removed)="gridService.removeText(chip.key)">
								{{chip.title}}: {{chip.data}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
							<ng-container *ngIf="chip.type==1">
								<mat-chip *ngFor="let item of chip.data" removable="true"
									(removed)="gridService.remove(item,chip.key);gridService.showClearAllButton()">
									{{chip.title}}: {{item.name}}
									<mat-icon matChipRemove>cancel</mat-icon>
								</mat-chip>
							</ng-container>
						</ng-container>
						<mat-chip class="flt-clear" color="primary" removable="true" *ngIf="gridService.model.isClearAll"
							(click)="gridService.Clear()">
							Đặt lại
						</mat-chip>
					</mat-chip-list>
				</div>

				<div class="flt-page" style="width: 50%;">
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
						[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</div>
		</div>
	</kt-portlet-body>

</kt-portlet>