<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="close()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{item.Id == 0 ? (isZoomSize ? '7' : '5') : (isZoomSize ? '9' : '7')}} kt-margin-bottom-10-mobile" style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
		<div class="col-md-{{item.Id == 0 ? (isZoomSize ? '5' : '7') : (isZoomSize ? '3' : '5')}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;" *ngIf="allowEdit">
			<button type="button" mat-raised-button (click)="resizeDialog()">
				{{isZoomSize ? 'Thu nhỏ' : 'Phóng to'}}
			</button>
		</div>
	</div>
	<div class="kt-portlet__body">
		<form class="kt-form" [formGroup]="itemForm">
			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="0" [showCloseButton]="true" (close)="onAlertClose()">
				Không thể lưu, vui lòng kiểm tra lại thông tin!
			</kt-alert>
			<div class="row">
				<div class="col-lg-4 m--margin-bottom-20-mobile">
					<m-datetime-picker [placeholder]="'Ngày gửi'" [required]="true" [disabled]="!allowEdit" formControlName="NgayGui"></m-datetime-picker>
				</div>
				<div class="col-lg-8 m--margin-bottom-20-mobile" style="padding-top: 15px;">
					<mat-radio-group [(ngModel)]="NhomDoiTuong" [ngModelOptions]="{standalone: true}" (change)="onChangeNhomDoiTuong($event.value)">
						<mat-radio-button [value]="1">Di chuyển</mat-radio-button>
						<mat-radio-button [value]="2">Cắt trợ cấp hàng tháng</mat-radio-button>
						<mat-radio-button [value]="3">Trợ cấp 1 lần</mat-radio-button>
						<mat-radio-button [value]="4">Mai táng phí</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Số Hồ sơ" formControlName="SoHoSo" #focusInput style="text-transform:uppercase" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Bí danh" formControlName="BiDanh" style="text-transform:capitalize" />
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Họ tên" formControlName="HoTen" class="require" required style="text-transform:capitalize" />
						<mat-error> Họ tên bắt buộc nhập </mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="{{ 'PROVINCE.NAME' | translate }}" formControlName="Province" class="require" (selectionChange)="loadGetListDistrictByProvinces(filterprovinces)" [(value)]="filterprovinces" required [disabled]="true">
							<mat-option [value]="provinces.id_row" *ngFor="let provinces of listprovinces;">{{provinces.Province}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="{{ 'DISTRICT.NAME' | translate }}" formControlName="District" class="require" (selectionChange)="loadGetListWardByDistrict(filterdistrict)" [(value)]="filterdistrict" required [disabled]="Capcocau==3">
							<mat-option [value]="district.ID_Row" *ngFor="let district of listdistrict;">{{district.District}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="{{ 'WARD.NAME' | translate }}" formControlName="Id_Xa" class="require" [(value)]="filterward" required [disabled]="Capcocau==3" (selectionChange)="loadKhomAp();changeLoaiHS(Id_LoaiHoSo);">
							<mat-option [value]="ward.ID_Row" *ngFor="let ward of listward;">{{ward.Ward}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Khóm, ấp" formControlName="Id_KhomAp" class="require" required>
							<mat-option [value]="ward.id" *ngFor="let ward of listKhomAp;">{{ward.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Địa chỉ nhà, tên đường" formControlName="DiaChi" />
						<!--<mat-hint>Địa chỉ nhà, tên đường</mat-hint>-->
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Nguyên quán" formControlName="NguyenQuan" (input)="changeDC('NguyenQuan')" />
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Trú quán" formControlName="TruQuan" (input)="changeDC('TruQuan')" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày sinh đối tượng" formControlName="NgaySinh" type="text" [matDatepicker]="picker" [max]="maxNS" (dateChange)="changeNS()">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Năm sinh đối tượng" formControlName="NamSinh" type="number" [min]="0" class="require" required (change)="changeNS(true)">
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Giới tính đối tượng" formControlName="GioiTinh" class="require" required>
							<mat-option [value]="gt.id" *ngFor="let gt of listgioitinh;">{{gt.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 m--margin-bottom-20-mobile" [hidden]="item.Id==0 ">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Thân nhân người có công" formControlName="IdThanNhan" class="require" (selectionChange)=changeThanNhan(filterthannhan) [(value)]="filterthannhan">
							<mat-option [value]="thannhan.Id" *ngFor="let thannhan of listthannhan;">({{thannhan.Id_QHGiaDinh}}) {{thannhan.HoTen}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile" [hidden]="item.Id>0 ">
					<lib-dynamic-component [childComponentType]="childComponentType3" [data]="childComponentData3" (getInstance)="getInstance3($event)"></lib-dynamic-component>
				</div>
			</div>
			<!--<div class="row" [hidden]="item.Id>0">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Thân nhân người có công" formControlName="NguoiThoCungLietSy" [(ngModel)]="thannhanName" change="changeQuanHeLietSy()" style="text-transform:capitalize" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày sinh thân nhân" formControlName="NgaySinh1" type="text" [matDatepicker]="picker1" (dateChange)="changeNS1()">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Năm sinh thân nhân" formControlName="NamSinh1" type="number" [min]="0" class="require" required (change)="changeNS1(true)">
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Giới tính thân nhân" formControlName="GioiTinh1">
							<mat-option [value]="gt.id" *ngFor="let gt of listgioitinh;">{{gt.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Quan hệ với người có công" formControlName="QuanHeVoiLietSy" [(ngModel)]="quanhe">
							<mat-option [value]="object.id" *ngFor="let object of listquanhevoilietsy;">{{object.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Nguyên quán của thân nhân người có công" formControlName="NguyenQuan1" />
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Trú quán của thân nhân người có công" formControlName="TruQuan1" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-checkbox formControlName="IsChet">Nhân thân đã mất</mat-checkbox>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile" [hidden]="!itemForm.controls['IsChet'].value">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày từ trần" formControlName="NgayChet" type="text" [matDatepicker]="picker2" (dateChange)="changeNS1()">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile" [hidden]="!itemForm.controls['IsChet'].value">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Số khai tử" formControlName="SoKhaiTu" />
					</mat-form-field>
				</div>
			</div>-->
			<!--<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Thông tin tỷ lệ mất sức lao động
					</mat-panel-title>
				</mat-expansion-panel-header>-->
			<div class="row">
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<h4 style="border-bottom: solid 1px;color: #5867dd;">
						Thông tin tỷ lệ mất sức lao động
					</h4>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày bị bệnh hoặc bị thương" formControlName="Ngay_" type="text" [matDatepicker]="pickerN">
						<mat-datepicker-toggle matSuffix [for]="pickerN"></mat-datepicker-toggle>
						<mat-datepicker #pickerN></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Nơi bị bệnh hoặc bị thương" formControlName="Noi_" />
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Trường hợp bị bệnh hoặc bị thương" formControlName="TruongHop_" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Tỷ lệ mất sức lao động(%)" formControlName="TiLe" type="text">
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile" [hidden]="NhomDoiTuong==2|| NhomDoiTuong==4">
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Mộ an táng" formControlName="Mo">
							<mat-option [value]="0">--Chọn--</mat-option>
							<mat-option [value]="1">Nghĩa trang</mat-option>
							<mat-option [value]="2">Gia đình quản lý</mat-option>
							<mat-option [value]="3">Không có thông tin</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Số điện thoại" formControlName="SDT" />
						<mat-error>
							Số điện thoại
							<strong *ngIf="itemForm.controls['SDT'].errors && itemForm.controls['SDT'].errors.pattern">
								không hợp lệ
							</strong>
							<strong *ngIf="itemForm.controls['SDT'].errors && itemForm.controls['SDT'].errors.maxlength">
								tối đa 20 ký tự
							</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile" hidden>
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Địa chỉ email" formControlName="Email" />
						<mat-error>
							Địa chỉ email
							<strong *ngIf="itemForm.controls['Email'].errors && itemForm.controls['Email'].errors.email">
								không hợp lệ
							</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile" hidden>
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Dân tộc" formControlName="DanToc">
							<mat-option [value]="0">--Chọn--</mat-option>
							<mat-option [value]="gt.id" *ngFor="let gt of listDanToc;">{{gt.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile" hidden>
					<mat-form-field class="mat-form-field-fluid ">
						<mat-select placeholder="Tôn giáo" formControlName="TonGiao">
							<mat-option [value]="0">--Chọn--</mat-option>
							<mat-option [value]="gt.id" *ngFor="let gt of listTonGiao;">{{gt.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-12 m--margin-bottom-20-mobile" *ngIf="item.Id==0">
					<mat-checkbox [(ngModel)]="nhapTC" [ngModelOptions]="{standalone: true}">Nhập trợ cấp</mat-checkbox>&nbsp;&nbsp;&nbsp;
					<mat-checkbox [(ngModel)]="nhapHD" [ngModelOptions]="{standalone: true}">Nhập chứng tử</mat-checkbox>&nbsp;&nbsp;&nbsp;
					<mat-checkbox [(ngModel)]="nhapDC" [ngModelOptions]="{standalone: true}">Nhập di chuyển</mat-checkbox>
				</div>
			</div>
			<div class="form-group kt-form__group row" hidden>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày nhập ngũ" formControlName="NgayNhapNgu" type="text" [matDatepicker]="pickerNNN">
						<mat-datepicker-toggle matSuffix [for]="pickerNNN"></mat-datepicker-toggle>
						<mat-datepicker #pickerNNN></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Cấp bậc" formControlName="CapBac" />
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Chức vụ" formControlName="ChucVu" />
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Nơi công tác" formControlName="NoiCongTac" />
					</mat-form-field>
				</div>
				<!--HS3-->
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày xuất ngũ" formControlName="NgayNhapNgu" type="text" [matDatepicker]="pickerNXN">
						<mat-datepicker-toggle matSuffix [for]="pickerNXN"></mat-datepicker-toggle>
						<mat-datepicker #pickerNXN></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<!--</mat-expansion-panel>
			<mat-expansion-panel [hidden]="!nhapTC">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Thông tin trợ cấp
					</mat-panel-title>							
					<mat-panel-description style="justify-content: flex-end;">
						<button mat-button mat-raised-button color="primary" (click)="addTC($event)" matTooltip="Thêm trợ cấp">Thêm trợ cấp</button>
					</mat-panel-description>
				</mat-expansion-panel-header>-->
			<!--<div *ngFor="let opt of lstTC; index as i">
				<h5 style="border-bottom: solid 1px;">Trợ cấp {{i+1}}<button mat-butotn mat-raised-button color="warn" (click)="delTC(i)">Xóa trợ cấp</button></h5>
			</div>-->
			<div [hidden]="!nhapTC" style="overflow-x:auto;">
				<div class="form-group kt-form__group row">
					<div class="col-lg-12 m--margin-bottom-20-mobile">
						<h4 style="border-bottom: solid 1px;color: #5867dd;">
							Thông tin trợ cấp
						</h4>
					</div>
					<div class="col-lg-12 m--margin-bottom-20-mobile">
						<button mat-button mat-raised-button color="primary" (click)="addTC()" matTooltip="Thêm trợ cấp">Thêm trợ cấp</button>
					</div>
				</div>
				<mat-hint style="color:red;">Nhập 'Ngày cắt trợ cấp' để <b>CẮT</b> trợ cấp</mat-hint>
				<table style="width:100%" class="table-bordered">
					<tr>
						<th class="text-center">Loại trợ cấp</th>
						<th class="text-center" style="width: 100px;">Tiền trợ cấp</th>
						<th class="text-center" style="width: 100px;">Tiền phụ cấp</th>
						<th class="text-center" style="width: 100px;" hidden>Tiền mua báo</th>
						<th class="text-center" style="width:100px;"><span title="Tiền trợ cấp nuôi dưỡng">Tiền trợ cấp ND</span></th>
						<th class="text-center" style="width: 100px;">Trợ cấp từ ngày</th>
						<th class="text-center" style="width: 100px;">Trợ cấp từ năm</th>
						<th class="text-center" style="width: 80px;"><span title="Số tháng trợ cấp">Số tháng TC</span></th>
						<th class="text-center" style="width: 110px;">Truy lĩnh từ tháng</th>
						<th class="text-center" style="width: 100px;"><span title="Số tháng truy lĩnh">Số tháng TL</span></th>
						<th class="text-center" style="width: 100px;">Ngày cắt trợ cấp</th>
						<th class="text-center" style="width: 100px;">Năm cắt trợ cấp</th>
						<th class="text-center" style="width: 100px;">Tháng thu hồi</th>
						<th class="text-center" style="width: 80px;	"></th>
					</tr>
					<ng-template #libInsertion></ng-template>
				</table>
			</div>
			<!--<lib-dynamic-component [childComponentType]="childComponentType" [data]="childComponentData" (getInstance)="getInstance($event)"></lib-dynamic-component>-->
			<!--</mat-expansion-panel>
			<mat-expansion-panel [hidden]="!nhapHD">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Nội dung chứng tử
					</mat-panel-title>
				</mat-expansion-panel-header>-->
			<div [hidden]="!nhapHD">
				<br />
				<div class="row">
					<div class="col-lg-12 m--margin-bottom-20-mobile">
						<h4 style="border-bottom: solid 1px;color: #5867dd;">
							Nội dung chứng tử
						</h4>
					</div>
				</div>
				<lib-dynamic-component [childComponentType]="childComponentType1" [data]="childComponentData1" (getInstance)="getInstance1($event)"></lib-dynamic-component>
			</div>
			<!--</mat-expansion-panel>
			<mat-expansion-panel [hidden]="!nhapDC">
				<mat-expansion-panel-header>
					<mat-panel-title>Di chuyển</mat-panel-title>
				</mat-expansion-panel-header>-->
			<div [hidden]="!nhapDC">
				<div class="row">
					<div class="col-lg-12 m--margin-bottom-20-mobile">
						<h4 style="border-bottom: solid 1px;color: #5867dd;">
							Di chuyển
						</h4>
					</div>
				</div>
				<lib-dynamic-component [childComponentType]="childComponentType2" [data]="childComponentData2" (getInstance)="getInstance2($event)"></lib-dynamic-component>
			</div>
			<!--</mat-expansion-panel>
			</mat-accordion>-->
			<div class="row">
				<div class="col-md-6 kt-margin-bottom-10-mobile">
					<dl-image-control formControlName="fileDinhKem" nameButton="Chọn file hồ sơ" [multiple]="false" [disabled]="false">
					</dl-image-control>
				</div>
			</div>
			<div class="row" [hidden]="GiayTos.length == 0 || item.Id>0">
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<h4 style="border-bottom: solid 1px;color: #5867dd;">
						Các giấy tờ cần thiết
					</h4>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<table style="width:100%" class="table-bordered">
						<tr>
							<th class="text-center">Loại giấy tờ</th>
							<th class="text-center">Số</th>
							<th class="text-center">Nơi cấp</th>
							<th class="text-center">Ngày cấp</th>
							<th class="text-center" style=" max-width: 70px;">Tệp đính kèm</th>
						</tr>
						<tr *ngFor="let loai of GiayTos; let i=index">
							<td>{{loai.GiayTo}}<span style="color: red; font-weight: bold;" *ngIf="loai.IsRequired" title="Bắt buộc nhập">*</span></td>
							<td>
								<mat-form-field class="mat-form-field-fluid ">
									<input matInput [(ngModel)]="loai.So" [ngModelOptions]="{standalone: true}" style="text-transform:uppercase"/>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field class="mat-form-field-fluid ">
									<input matInput [(ngModel)]="loai.NoiCap" [ngModelOptions]="{standalone: true}" />
								</mat-form-field>
							</td>
							<td>
								<mat-form-field class="mat-form-field-fluid ">
									<input matInput [(ngModel)]="loai.NgayCap" type="text" [matDatepicker]="pickerN1" [ngModelOptions]="{standalone: true}">
									<mat-datepicker-toggle matSuffix [for]="pickerN1"></mat-datepicker-toggle>
									<mat-datepicker #pickerN1></mat-datepicker>
								</mat-form-field>
							</td>
							<td class="text-center">
								<dl-image-control [(ngModel)]="loai.FileDinhKem" nameButton="Chọn tệp" [multiple]="false" [disabled]="!allowEdit" [ngModelOptions]="{standalone: true}">
								</dl-image-control>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group kt-form__group row">
				<div class="col-md-12 text-center">
					<button type="button" mat-raised-button color="accent" (click)="onSubmit(true)" [disabled]="disabledBtn" matTooltip="{{'COMMON.LUU_DONG' | translate}}">
						<span translate="COMMON.LUU_DONG"></span>
					</button>
					&nbsp;
					<button type="button" class="hide-view-sm" mat-raised-button color="primary" (click)="onSubmit(false)" [disabled]="disabledBtn" *ngIf="item.Id == 0" matTooltip="{{'COMMON.LUU_TIEPTUC' | translate}}">
						<span translate="COMMON.LUU_TIEPTUC"></span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>