<style>
	.dt-overflow {
		overflow: hidden;
		line-height: 2rem;
		max-height: 8rem;
		-webkit-box-orient: vertical;
		display: block;
		display: -webkit-box;
		overflow: hidden !important;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
	}
	.min-th {
		min-width: 160px;
	}
	.min-width-200px {
		min-width: 200px;
	}
</style>
<kt-portlet-header [sticky]="true" [title]="_name" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
	<ng-container ktPortletTools>
		<button class="show-view-sm" (click)="loadData()" mat-raised-button color="primary" matTooltip="Xem thống kê">Xem thống kê</button>
			<button class="show-view-sm" *ngIf="allowExport" mat-raised-button [matMenuTriggerFor]="chucnang1" color="primary">
				Chức năng
			</button>
			<mat-menu #chucnang1="matMenu">
				<button (click)="loadData()" mat-menu-item color="primary" matTooltip="Xem thống kê">Xem thống kê</button>
				<button mat-menu-item color="primary" matTooltip="In danh sách" printTitle={{this._name}}
						[printStyle]="style_print" printSectionId="print-section" ngxPrint>
					In
				</button>
				<button (click)="xuatDanhSach()" mat-menu-item color="info" matTooltip="Xuất danh sách">Export</button>
			</mat-menu>
			<!-- view nhỏ hơn 768 bị ẩn -->
			<div class="hide-view-sm" style="display: contents;">
				<button (click)="loadData()" mat-raised-button color="primary" matTooltip="Xem thống kê">Xem thống kê</button>
				<button mat-raised-button color="primary" matTooltip="In danh sách" *ngIf="allowExport" printTitle={{this._name}}
						[printStyle]="style_print" printSectionId="print-section" ngxPrint>
					In
				</button>
				<button (click)="xuatDanhSach()" mat-raised-button color="info" matTooltip="Xuất danh sách" *ngIf="allowExport">Export</button>
			</div>
	</ng-container>
</kt-portlet-header>
<kt-portlet-body>
	<div class="form-group kt-form__group row">
		<div class="col-md-2 kt-margin-bottom-10-mobile">
			<mat-form-field class="mat-form-field-fluid">
				<mat-select [(ngModel)]="IdDot" placeholder="Đợt nhập niên hạn" [ngModelOptions]="{standalone: true}" (selectionChange)="display = false">
					<mat-option [value]="0" disabled>--Chọn đợt nhập niên hạn--</mat-option>
					<mat-option [value]="opt.id" *ngFor="let opt of lstDot">{{opt.title}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-md-2 kt-margin-bottom-10-mobile">
			<mat-form-field class="mat-form-field-fluid ">
				<mat-select placeholder="Loại thống kê" [(ngModel)]="thongKe" (selectionChange)="changeLoai()">
					<!-- Xem sl từng huyện trong tỉnh -->
					<mat-option value="0" *ngIf="Capcocau == 1">Thống kê theo tỉnh</mat-option>
					<!-- Xem sl từng xã trong huyện -->
					<mat-option value="1" *ngIf="Capcocau <= 2">Thống kê theo huyện</mat-option>
					<mat-option value="2" *ngIf="Capcocau == 3">Thống kê theo xã</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-md-2 kt-margin-bottom-10-mobile" *ngIf="thongKe >= 1">
			<mat-form-field class="mat-form-field-fluid ">
				<mat-select placeholder="Chọn huyện thống kê"[(value)]="filterDistrict" [(ngModel)]="filterDistrict"[disabled]="Capcocau >= 2" (selectionChange)="display=false">
					<mat-option [value]="0" disabled>--Chọn huyện thống kê--</mat-option>
					<mat-option [value]="list.ID_Row" *ngFor="let list of listHuyen">{{list.District}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-md-2 kt-margin-bottom-10-mobile" *ngIf="Capcocau == 3">
			<mat-form-field class="mat-form-field-fluid ">
				<mat-select placeholder="Chọn xã thống kê" [(value)]="filterWard" formControlName="Xa" [disabled]="Capcocau == 3">
					<mat-option [value]="0" disabled>--Chọn xã thống kê--</mat-option>
					<mat-option [value]="item.ID_Row" *ngFor="let item of listXa">{{item.Ward}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div id="print-section" *ngIf="display">
		<div class="col-lg-12 kt-margin-bottom-10-mobile table-responsive">
			<table class="table-bordered table-sm" style="width:100%;">
				<tr>
					<th style="text-align: center;width:30px;">STT</th>
					<th class="text-center min-width-200px">
						<span *ngIf="thongKe==0; else xa">Huyện</span>
						<ng-template #xa>Xã</ng-template>
					</th>
					<th class="text-center min-th" *ngFor="let dt of dataThongKe.DungCus">
						<span class="dt-overflow" title="{{dt.b}}">{{dt.b}}</span>
					</th>
				</tr>
				<ng-container *ngFor="let item of dataThongKe.data; let i=index">
					<tr>
						<td class="text-center">{{i+1}}</td>
						<td>
							<span *ngIf="thongKe==0; else xa">{{item.TenXa}}</span>
							<ng-template #xa>{{item.TenXa}}</ng-template>
						</td>
						<td style="text-align: right;" *ngFor="let dt of dataThongKe.DungCus">{{getValue(item,dt.a)}}</td>
					</tr>
				</ng-container>
				<tr *ngIf="dataThongKe.data.length==0">
					<td [attr.colspan]="dataThongKe.DoiTuongs.length+2" class="text-center"><b>Không có dữ liệu</b></td>
				</tr>
			</table>
		</div>
	</div>
</kt-portlet-body>