<style>
	.mat-row.error td {
		color: red;
	}
	.row-return {
		background: #ffb881;
	}
</style>
<kt-portlet [options]="{headLarge: true}">
	<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTitle>
			<div class="kt-form__filtration">
				<h3 class="kt-portlet__head-title">
					{{ (!IsEnable_Duyet ? 'MAU_SO_LIEU.slcanduyet' : 'MAU_SO_LIEU.sldaduyet') | translate}}
				</h3>
			</div>
		</ng-container>
		<ng-container ktPortletTools>
			<div class="kt-form">
				<div class="row align-items-center collapse kt-form__group-actions"
					[ngClass]="{'show' : selection.selected.length > 0}">
					<div class="col-xl-12">
						<div class="kt-form__group kt-form__group--inline">
							<div class="kt-form__label kt-form__label-no-wrap">
								<label class="kt--font-bold kt-font-danger-">
									Số lượng đã chọn: {{ selection.selected.length }}
								</label>
							</div>
							<div class="kt-form__control kt-form__group--inline">
								<button mat-raised-button color="primary" (click)="duyets()"
									matTooltip="Duyệt số liệu được chọn" class="mat-button-mt-4">
									{{ 'COMMON.DUYET' | translate }}
								</button>&nbsp;
								<button mat-raised-button color="warn" (click)="duyets(false)"
									matTooltip="Không duyệt số liệu được chọn" class="mat-button-mt-4">
									{{ 'COMMON.KODUYET' | translate }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<kt-column-option [gridService]="gridService"></kt-column-option>
		</ng-container>
	</kt-portlet-header>

	<div class="kt-portlet__body">
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-3 kt--margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid ">
							<mat-select placeholder="{{ 'DISTRICT.NAME' | translate }}" [(value)]="filterdistrict" 
								(selectionChange)="filterDistrictID(filterdistrict)">
								<mat-option [value]="0">Tất cả</mat-option>
								<mat-option [value]="district.ID_Row" *ngFor="let district of listdistrict;">{{district.District}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-4 kt--margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid ">
							<mat-select placeholder="Danh sách đơn vị có mẫu số liệu" [(value)]="filterDonVi" 
								(selectionChange)="filterDonViId(filterDonVi)">
								<mat-option [value]="0">Tất cả</mat-option>
								<mat-option [value]="dv.Id_DonVi" *ngFor="let dv of listDonVi;">{{dv.DonVi}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="example-container mat-table__wrapper" [ngStyle]="{'overflow-x': gridService.model.haveFilter?'unset':'auto'}">
			<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="SoHoSo" matSortDirection="asc"
			 	matSortDisableClear [ngClass]="{'dl-table-flt': gridService.model.haveFilter}">
				<ng-container matColumnDef="select">
					<th mat-header-cell *matHeaderCellDef class="mat-column-checkbox select-cell" style="padding-right: 20px;">
						<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" 
							[indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
						</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row" class="mat-column-checkbox select-cell" style="padding-right: 20px;">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" 
							[checked]="selection.isSelected(row)" [color]="'primary'" [disabled]="row.IsEnable_Duyet">
						</mat-checkbox>
					</td>
				</ng-container>
				<ng-container matColumnDef="STT">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode stt-cell"><span translate="COMMON.STT"></span></th>
					<td mat-cell *matCellDef="let object;let vi = index" class="mat-column-vinCode  stt-cell">{{vi + 1}}</td>
				</ng-container>
				<ng-container matColumnDef="MauSoLieu">
					<th mat-header-cell *matHeaderCellDef>
						<kt-column-filter enable_sort="true" [gridService]="gridService" column_name="MauSoLieu" column_title="Mẫu số liệu"></kt-column-filter>
					</th>
					<td mat-cell *matCellDef="let object">{{object.MauSoLieu}}</td>
				</ng-container>
				<ng-container matColumnDef="Nam">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Năm</th>
					<td mat-cell *matCellDef="let object">{{object.Nam}}</td>
				</ng-container>
				<ng-container matColumnDef="DonVi">
					<th mat-header-cell *matHeaderCellDef>Đơn vị</th>
					<td mat-cell *matCellDef="let object">{{object.DonVi}}</td>
				</ng-container>
				<ng-container matColumnDef="IsTre">
					<th mat-header-cell *matHeaderCellDef>
						<kt-column-filter [gridService]="gridService" enable_sort="false" column_name="IsTre" column_title="Thời hạn"></kt-column-filter>
					</th>
					<td mat-cell *matCellDef="let object">
						<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide kt-badge--warn" 
							*ngIf="object.IsTre" title="Trễ hạn">{{object.Deadline}}
						</span>
						<span *ngIf="!object.IsTre">{{object.Deadline}}</span>
					</td>
				</ng-container>
				<ng-container matColumnDef="IsTre_Duyet">
					<th mat-header-cell *matHeaderCellDef>
						<kt-column-filter [gridService]="gridService" enable_sort="false" column_name="IsTre_Duyet" column_title="Thời hạn cá nhân"></kt-column-filter>
					</th>
					<td mat-cell *matCellDef="let object">
						{{object.Deadline_Duyet}}
						<span title="Quá hạn xử lý" *ngIf="object.IsTre_Duyet">
							<mat-icon style="color:#eaf461f7">warning</mat-icon>
						</span>
					</td>
				</ng-container>
				<ng-container matColumnDef="CreatedBy">
					<th mat-header-cell *matHeaderCellDef>Người tạo</th>
					<td mat-cell *matCellDef="let object">{{object.CreatedBy}}</td>
				</ng-container>
				<ng-container matColumnDef="CreatedDate">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">Ngày tạo</th>
					<td mat-cell *matCellDef="let object" style="justify-content: center">{{object.CreatedDate }}</td>
				</ng-container>

				<ng-container matColumnDef="UpdatedBy">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">Người sửa</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedBy}}</td>
				</ng-container>
				<ng-container matColumnDef="UpdatedDate">
					<th mat-header-cell *matHeaderCellDef>Ngày sửa</th>
					<td mat-cell *matCellDef="let item">{{item.UpdatedDate }}</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef style="width: 150px;">
						<span translate="COMMON.TACVU"></span>
					</th>
					<td mat-cell *matCellDef="let object" class="action-cell" [ngClass]="list_button ? 'list-button' : ''">
						<a [routerLink]="['/duyet-so-lieu/so-lieu',object.Id]" mat-button [ngClass]="btnClass" 
							matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="info">
							<mat-icon>remove_red_eye</mat-icon>
							<span class="button-text">{{ 'COMMON.DETAIL' | translate }}</span>
						</a>
						<ng-container *ngIf="!IsEnable_Duyet">
							<button mat-button (click)="Duyet(object)" [ngClass]="btnClass" *ngIf="object.IsVisible_Duyet"
							[disabled]="object.IsEnable_Duyet" matTooltip="Duyệt" color="primary" type="button">
								<mat-icon>done_outline</mat-icon>
								<span class="button-text">Duyệt</span>
							</button>
						</ng-container>
						<ng-container *ngIf="IsEnable_Duyet && object.AllowBack">
							<button mat-button (click)="TraLai(object)" [ngClass]="btnClass" [disabled]="!object.AllowBack"
								matTooltip="Trả lại xã" color="warn" type="button">
								<mat-icon>undo</mat-icon>
								<span class="button-text">Trả lại xã</span>
							</button>
						</ng-container>
						<button mat-button (click)="Duyet(object, false)" [ngClass]="btnClass"   
							matTooltip="Thảo luận" color="primary" type="button">
							<mat-icon>insert_comment</mat-icon>
							<span class="button-text">Thảo luận</span>
						</button>
						<button mat-button (click)="timeline(object)" [ngClass]="btnClass" 
							matTooltip="Xem sơ đồ" color="primary" type="button">
							<mat-icon>timeline</mat-icon>
							<span class="button-text">Xem sơ đồ</span>
						</button>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="gridService.model.displayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: gridService.model.displayedColumns" (click)="row.highlighted = !row.highlighted" 
					[ngClass]="{hovered: row.hovered, highlighted: row.highlighted,'row-return': row.IsReturn, error:row.IsTre}" 
					(mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
				</tr>
			</table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">{{'COMMON.NO_RECORD_FOUND'|translate}}</div>
		</div>

		<div class="mat-table__bottom" [ngClass]="{'exist-flt': gridService.model.haveFilter}">
			<div class="flt-selected" *ngIf="gridService.model.haveFilter" style="max-width:50%;">
				<kt-chip-filter [gridService]="gridService"></kt-chip-filter>
			</div>
			<div class="flt-page" style="width: 50%;">
				<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
				<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" 
					[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true">
				</mat-paginator>
			</div>
		</div>
	</div>
</kt-portlet>