<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$ ">
	<ng-container ktPortletTitle>
		<div class="kt-form__filtration">
			<h3 class="kt-portlet__head-title">
				<span translate="OBJECT.LIST" [translateParams]="{name:this._name.toLowerCase()}"></span>
			</h3>
		</div>
	</ng-container>
	<ng-container ktPortletTools>
		<kt-column-option [gridService]="gridService"></kt-column-option>
	</ng-container>
</kt-portlet-header>

<kt-portlet-body>
	<div class="mat-table__wrapper" [ngStyle]="{'overflow-x': gridService.model.haveFilter?'unset':'auto'}">
		<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort #sort1='matSort' matSortActive="Id"
			style="width: 100%;" matSortDirection="asc" matSortDisableClear [ngClass]="{'dl-table-flt': gridService.model.haveFilter}" cdkDropListGroup>
			<ng-container matColumnDef="STT">
				<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">STT</th>
				<td mat-cell class="stt-cell" *matCellDef="let item; let i=index">{{i + 1}}</td>
			</ng-container>
			<ng-container matColumnDef="DotNienHan">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>
					Đợt nhập niên hạn
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center;white-space: nowrap;">{{item.DotNienHan}}</td>
			</ng-container>
			<ng-container matColumnDef="Id_DonVi">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>
					Huyện
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center;white-space: nowrap;">{{item.Huyen}}</td>
			</ng-container>
			<ng-container matColumnDef="Nam">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>
					Năm
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.Nam}}</td>
			</ng-container>
			<ng-container matColumnDef="TongSo">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center">
					Tổng số
				</th>
				<td mat-cell *matCellDef="let item" style="flex: 0 0 15%">{{item.TongSo}}</td>
			</ng-container>
			<ng-container matColumnDef="TongTien">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center">
					Tổng tiền
				</th>
				<td mat-cell *matCellDef="let item" style="flex: 0 0 15%">{{item.TongTien | mask:'separator':CommonService.thousandSeparator}}</td>
			</ng-container>
			<ng-container matColumnDef="Status">
				<th mat-header-cell *matHeaderCellDef>
					<kt-column-filter [gridService]="gridService" column_name="Status" column_title="Tình trạng"></kt-column-filter>
				</th>
				<td mat-cell *matCellDef="let object">
					<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide kt-badge--{{getStatusString(object.Status)}}" style="white-space: nowrap;">{{object.strStatus}}</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="SoToTrinh">
				<th mat-header-cell *matHeaderCellDef>Tờ trình duyệt</th>
				<td mat-cell *matCellDef="let item">
					<ng-container *ngIf="item.SoTT != null">
						<span>{{item.SoTT}}</span>
						<button (click)="inToTrinh(item.Id)" mat-icon-button matTooltip="In tờ trình duyệt" color="primary" type="button">
							<mat-icon>print</mat-icon>
						</button>
					</ng-container>
					<button mat-icon-button color="primary" type="button" (click)="raToTrinh(item)" matTooltip="Tạo tờ trình duyệt" 
						*ngIf="item.SoTT == null && item.allowToTrinh">
						<mat-icon>input</mat-icon>
					</button>
				</td>
			</ng-container>
			<ng-container matColumnDef="SoQuyetDinh">
				<th mat-header-cell *matHeaderCellDef>Quyết định cấp</th>
				<td mat-cell *matCellDef="let item">
					<ng-container *ngIf="item.Status == 2">
						<ng-container *ngIf="item.SoQD != null">
							<span>{{item.SoQD}}</span>
							<button (click)="inQuyetDinh(item.Id)" mat-icon-button matTooltip="In quyết định cấp tiền" color="info" type="button">
								<mat-icon>print</mat-icon>
							</button>
						</ng-container>
						<button mat-icon-button color="info" type="button" (click)="raQuyetDinh(item)" matTooltip="Tạo quyết định cấp tiền" *ngIf="item.SoQD == null && item.allowEditQD">
							<mat-icon>input</mat-icon>
						</button>
					</ng-container>
				</td>
			</ng-container>
			<ng-container matColumnDef="CreatedBy">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center">
					<span translate="COMMON.CREATED_BY"></span>
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.CreatedBy}}</td>
			</ng-container>
			<ng-container matColumnDef="CreatedDate">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center">
					<span translate="COMMON.CREATED_DATE"></span>
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center">
					{{item.CreatedDate}}
				</td>
			</ng-container>
			<ng-container matColumnDef="UpdatedBy">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center">
					<span translate="COMMON.UPDATED_BY"></span>
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedBy}}</td>
			</ng-container>
			<ng-container matColumnDef="UpdatedDate">
				<th mat-header-cell *matHeaderCellDef style="justify-content: center">
					<span translate="COMMON.UPDATED_DATE"></span>
				</th>
				<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedDate}}</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef style="width: 100px;">
					<span translate="COMMON.TACVU"></span>
				</th>
				<td mat-cell *matCellDef="let item" style="white-space: nowrap; text-align:left" class="action-cell" [ngClass]="list_button?'list-button':''">
					<button (click)="EditNhom(item, false)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="accent" type="button">
						<mat-icon>visibility</mat-icon>
						<span class="button-text">{{ 'COMMON.DETAIL' | translate }}</span>
					</button>
					<ng-container *ngIf="item.AllowEdit">
						<button (click)="EditNhom(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button"
							matTooltip="{{ 'COMMON.UPDATE' | translate }}" color="primary" *ngIf="NienHanService1.ReadOnlyControl" type="button">
							<mat-icon>create</mat-icon>
							<span class="button-text">{{ 'COMMON.UPDATE' | translate }}</span>
						</button>
						<button [class.mat-raised-button]="list_button" mat-button [class.mat-icon-button]="!list_button" color="warn" type="button" 
							*ngIf="NienHanService1.ReadOnlyControl" (click)="DeleteWorkplace(item)" matTooltip="{{ 'COMMON.DELETE' | translate }}">
							<mat-icon>delete</mat-icon>
							<span class="button-text">{{ 'COMMON.DELETE' | translate }}</span>
						</button>
					</ng-container>
					<ng-container *ngIf="item.SoQD != null && item.Status == 2 && Capcocau == 2">
						<button (click)="GetGiayBaoTien(item.Id)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" 
							matTooltip="Xuất giấy báo nhận tiền" color="info" type="button">
							<mat-icon>print</mat-icon>
							<span class="button-text">Xuất giấy báo</span>
						</button>
						<a [routerLink]="['./',item.Id]" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button"
						    matTooltip="Cấp tiền dụng cụ niên hạn" color="primary">
							<mat-icon>card_giftcard</mat-icon>
							<span class="button-text">Cấp tiền</span>
						</a>
					</ng-container>
					<button (click)="GuiDuyet(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button"
						matTooltip="Gửi duyệt" color="primary" *ngIf="item.visibleGuiDuyet" type="button">
						<mat-icon>send</mat-icon>
						<span class="button-text">Gửi duyệt</span>
					</button>
					<button (click)="ThuHoi(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button"
						matTooltip="Thu hồi" color="warn" *ngIf="item.visibleThuHoi" type="button">
						<mat-icon>undo</mat-icon>
						<span class="button-text">Thu hồi</span>
					</button>
					<button (click)="HuyGiao(item)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button"
						matTooltip="Hủy giao xã nhập niên hạn" color="info" *ngIf="item.visibleHuyGiao" type="button">
						<!-- <mat-icon>undo</mat-icon> -->
						<span class="button-text">Hủy giao</span>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="gridService.model.displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: gridService.model.displayedColumns"></tr>
		</table>

		<div class="mat-table__message" *ngIf="!dataSource.hasItems">
			<span translate="COMMON.NO_RECORD_FOUND"></span>
		</div>
	</div>

	<!-- start: BOTTOM -->
	<div class="mat-table__bottom" [ngClass]="{'exist-flt': gridService.model.haveFilter}">
		<div class="flt-selected" *ngIf="gridService.model.haveFilter" style="max-width:50%;">
			<mat-chip-list>
				<ng-container *ngFor="let chip of gridService.model.lstChip">
					<mat-chip removable="true" *ngIf="chip.type==2" (removed)="gridService.removeText(chip.key)">
						{{chip.title}}: {{chip.data}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
					<ng-container *ngIf="chip.type==1">
						<mat-chip *ngFor="let item of chip.data" removable="true"
							(removed)="gridService.remove(item,chip.key);gridService.showClearAllButton()">
							{{chip.title}}: {{item.name}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</ng-container>
				</ng-container>
				<mat-chip class="flt-clear" color="primary" removable="true" *ngIf="gridService.model.isClearAll"
					(click)="gridService.Clear()">Đặt lại
				</mat-chip>
			</mat-chip-list>
		</div>

		<div class="flt-page" style="width: 50%;">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
				[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</div>
	<!-- end: BOTTOM -->

</kt-portlet-body>
