<style>
	:host .dt-overflow {
		overflow: hidden;
		line-height: 2rem;
		max-height: 8rem;
		-webkit-box-orient: vertical;
		display: block;
		display: -webkit-box;
		overflow: hidden !important;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		max-width: 200px;
	}

	.mat-row.error td {
		color: red;
	}

	.row-return {
		background: #ffb881;
	}

	.waring-deadline {
		color:rgb(251, 218, 5)
	}
	.waring-deadline:hover {
		color:rgb(230, 199, 0)
	}
</style>
<kt-portlet [options]="{headLarge: true}">
	<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab" [ngStyle]="{'display': !IsEnable_Duyet ? 'none' : 'inherit'}"
		(selectedIndexChange)="changeTab($event)">
		<mat-tab label="{{ !IsEnable_Duyet ? 'Hồ sơ người có công cần duyệt' : 'Hồ sơ người có công đã duyệt'}}"></mat-tab>
		<mat-tab label="Hướng dẫn hoàn thiện HS">
			<kt-huong-dan-list></kt-huong-dan-list>
		</mat-tab>
	</mat-tab-group>

	<div [ngStyle]="{'display':!IsEnable_Duyet || selectedTab==0 ? 'block' : 'none'}">
		<kt-portlet-header [sticky]="!IsEnable_Duyet" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
			<ng-container ktPortletTitle>
				<div class="kt-form__filtration">
					<h3 class="kt-portlet__head-title">
						{{ !IsEnable_Duyet ? 'Hồ sơ người có công cần duyệt' : 'Hồ sơ người có công đã duyệt'}}
					</h3>
				</div>
			</ng-container>
			
			<ng-container ktPortletTools>
				<div *ngIf="IsEnable_Duyet">
					<button (click)="printTicket('print-section')" mat-raised-button color="info" matTooltip="In">
						In
					</button>
					<button (click)="Export()" mat-raised-button color="info" matTooltip="Export">
						Export
					</button>
				</div>
				<div class="kt-form">
					<div class="row align-items-center collapse kt-form__group-actions"
						 [ngClass]="{'show' : selection.selected.length > 0}">
						<div class="col-xl-12">
							<div class="kt-form__group kt-form__group--inline">
								<div class="kt-form__label kt-form__label-no-wrap">
									<label class="kt--font-bold kt-font-danger-">
										Số lượng đã chọn: {{ selection.selected.length }}
									</label>
								</div>
								<div class="kt-form__control kt-form__group--inline">
									<button mat-raised-button color="primary" (click)="duyets()"
										matTooltip="Duyệt hồ sơ được chọn" class="mat-button-mt-4">
										Duyệt
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<kt-column-option [gridService]="gridService"></kt-column-option>
			</ng-container>
		</kt-portlet-header>

		<div class="kt-portlet__body">
			<div class="kt-form">
				<div class="kt-form__filtration">
					<div class="row align-items-center">
						<div class="col-md-3 kt--margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid ">
								<mat-select placeholder="{{ 'DISTRICT.NAME' | translate }}" [(value)]="filterdistrict" (selectionChange)="filterDistrictID(filterdistrict)" [disabled]="Capcocau == 2">
									<mat-option value="">Tất cả</mat-option>
									<mat-option value="{{district.ID_Row}}" *ngFor="let district of listdistrict;">{{district.District}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3 kt--margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid ">
								<mat-select placeholder="{{ 'WARD.NAME' | translate }}" [(value)]="filterward" (selectionChange)="loadDataList()">
									<mat-option value="">Tất cả</mat-option>
									<mat-option value="{{ward.ID_Row}}" *ngFor="let ward of listward;">{{ward.Ward}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>

			<div id="print-section" class="example-container mat-table__wrapper" [ngStyle]="{'overflow-x': gridService.model.haveFilter?'auto':'auto','display': dataSource.hasItems? 'flex':'unset'}">
				<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="CreatedDate" 
					matSortDirection="desc" matSortDisableClear [ngClass]="{'dl-table-flt': gridService.model.haveFilter}">
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef class="mat-column-checkbox select-cell hiden-print" style="padding-right: 20px;">
							<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let row" class="mat-column-checkbox select-cell hiden-print" style="padding-right: 20px;">
							<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'" [disabled]="row.IsEnable_Duyet">
							</mat-checkbox>
						</td>
					</ng-container>
					<ng-container matColumnDef="STT">
						<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode stt-cell"><span translate="COMMON.STT"></span></th>
						<td mat-cell *matCellDef="let object;let vi = index" class="mat-column-vinCode stt-cell">{{vi + 1}}</td>
					</ng-container>
					<ng-container matColumnDef="SoHoSo">
						<th nowrap mat-header-cell *matHeaderCellDef >
							<kt-column-filter [enable_sort]="!print" [gridService]="gridService" column_name="SoHoSo" column_title="Số hồ sơ"></kt-column-filter>
						</th>			
						<td mat-cell *matCellDef="let object">{{object.SoHoSo}}</td>
					</ng-container>
					<ng-container matColumnDef="HoTen">
						<th nowrap mat-header-cell *matHeaderCellDef>
							<kt-column-filter [enable_sort]="!print" [gridService]="gridService" column_name="HoTen" column_title="Họ tên"></kt-column-filter>
						</th>
						<td nowrap mat-cell *matCellDef="let object">
							<a href="javascript:;" (click)="viewCT(object.Id)" title="Xem chi tiết hô sơ">{{object.HoTen}}</a>
						</td>
					</ng-container>
					<ng-container matColumnDef="NgaySinh">
						<th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
						<td mat-cell *matCellDef="let object">{{object.NgaySinh}}</td>
					</ng-container>
					<ng-container matColumnDef="GioiTinh">
						<th nowrap mat-header-cell *matHeaderCellDef>Giới tính</th>
						<td mat-cell *matCellDef="let object">{{object.GioiTinh}}</td>
					</ng-container>
					<ng-container matColumnDef="Title">
						<th mat-header-cell *matHeaderCellDef>Xã</th>
						<td mat-cell *matCellDef="let object">{{object.Title}}</td>
					</ng-container>
					<ng-container matColumnDef="KhomAp">
						<th nowrap mat-header-cell *matHeaderCellDef>Khóm/ấp</th>
						<td mat-cell *matCellDef="let object">{{object.KhomAp}}</td>
					</ng-container>
					<ng-container matColumnDef="DiaChi">
						<th nowrap mat-header-cell *matHeaderCellDef>
							<kt-column-filter [gridService]="gridService" column_name="DiaChi" column_title="Địa chỉ"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let object">{{object.DiaChi}}</td>
					</ng-container>
					<ng-container matColumnDef="DistrictName">
						<th mat-header-cell *matHeaderCellDef>Huyện</th>
						<td mat-cell *matCellDef="let object">{{object.DistrictName}}</td>
					</ng-container>
					<ng-container matColumnDef="NguoiThoCungLietSy">
						<th nowrap mat-header-cell *matHeaderCellDef>Người thờ cúng liệt sỹ</th>
						<td mat-cell *matCellDef="let object">{{object.NguoiThoCungLietSy}}</td>
					</ng-container>
					<ng-container matColumnDef="QuanHeVoiLietSy">
						<th nowrap mat-header-cell *matHeaderCellDef>Quan hệ với liệt sỹ</th>
						<td mat-cell *matCellDef="let object">{{object.QuanHeVoiLietSy}}</td>
					</ng-container>
					<ng-container matColumnDef="IsTre">
						<th nowrap mat-header-cell *matHeaderCellDef>
							<kt-column-filter [gridService]="gridService" [enable_sort]="!print" column_name="IsTre" column_title="Thời hạn"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let object">
							<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--wide kt-badge--warn" *ngIf="object.IsTre" title="Trễ hạn">{{object.Deadline}}</span>
							<span *ngIf="!object.IsTre">{{object.Deadline}}</span>
						</td>
					</ng-container>
					<ng-container matColumnDef="IsTre_Duyet">
						<th nowrap mat-header-cell *matHeaderCellDef>
							<kt-column-filter [gridService]="gridService" [enable_sort]="!print" column_name="IsTre_Duyet" column_title="Thời hạn cá nhân"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let object">{{object.Deadline_Duyet}}
							<span title="Quá hạn xử lý" *ngIf="object.IsTre_Duyet">
								<mat-icon class="waring-deadline">warning</mat-icon>
							</span>
						</td>
					</ng-container>
					<ng-container matColumnDef="DoiTuong">
						<th mat-header-cell *matHeaderCellDef class="min-width-th">
							<kt-column-filter [gridService]="gridService" column_name="DoiTuong" column_title="Đối tượng"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let object"><div class="dt-overflow " title="{{object.DoiTuong}}">{{object.DoiTuong}}</div></td>
					</ng-container>
					<ng-container matColumnDef="LoaiHoSo">
						<th nowrap mat-header-cell *matHeaderCellDef>
							<kt-column-filter [gridService]="gridService" column_name="LoaiHoSo" column_title="Loại hồ sơ"></kt-column-filter>
						</th>
						<td mat-cell *matCellDef="let object">
							<div class="dt-overflow" title="{{object.LoaiHoSo}}">{{object.LoaiHoSo}}</div>
						</td>
					</ng-container>
					<ng-container matColumnDef="CreatedBy">
						<th nowrap mat-header-cell *matHeaderCellDef>Người tạo</th>
						<td mat-cell *matCellDef="let object">{{object.CreatedBy}}</td>
					</ng-container>

					<ng-container matColumnDef="CreatedDate">
						<th  mat-header-cell mat-sort-header *matHeaderCellDef style="justify-content: center">Ngày tạo</th>
						<td  mat-cell *matCellDef="let object" style="justify-content: center">{{object.CreatedDate }}</td>
					</ng-container>
					<ng-container matColumnDef="UpdatedBy">
						<th nowrap mat-header-cell *matHeaderCellDef style="justify-content: center">Người cập nhật</th>
						<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedBy}}</td>
					</ng-container>
					<ng-container matColumnDef="UpdatedDate">
						<th nowrap mat-header-cell *matHeaderCellDef>Ngày cập nhật</th>
						<td mat-cell *matCellDef="let item">{{item.UpdatedDate }}</td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef style="width: 160px;">
							<span translate="COMMON.TACVU"></span>
						</th>
						<td mat-cell *matCellDef="let object" class="action-cell" [ngClass]="list_button?'list-button':''">
							<a href="javascript:;" (click)="viewCT(object.Id)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" 
								matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="info" *ngIf="!IsEnable_Duyet">
								<mat-icon>remove_red_eye</mat-icon>
								<span class="button-text">{{ 'COMMON.DETAIL' | translate }}</span>
							</a>
							<!-- nút xem ở ds hs chưa duyệt -->
							<a [routerLink]="['/duyet-ho-so/ho-so',object.Id]" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" 
								matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="info" *ngIf="IsEnable_Duyet">
								<mat-icon>remove_red_eye</mat-icon>
								<span class="button-text">{{ 'COMMON.DETAIL' | translate }}</span>
							</a> 
							<!-- nút xem ở ds hồ sơ đã duyệt, duyệt rồi ko chưa sửa hs -->
							<button mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" [matMenuTriggerFor]="menu" color="info" *ngIf="object.path!=''">
								<mat-icon>attach_file</mat-icon>
								<span class="button-text">{{ 'COMMON.DOWNLOAD' | translate }}</span>
							</button>
							<mat-menu #menu="matMenu">
								<a mat-menu-item href="viewer/file-dinh-kem/0?path={{object.path}}" target="_blank">
									<mat-icon>remove_red_eye</mat-icon>
									<span>Xem trước</span>
								</a>
								<button mat-menu-item (click)="Download(object)">
									<mat-icon>cloud_download</mat-icon>
									<span>{{ 'COMMON.DOWNLOAD' | translate }}</span>
								</button>
							</mat-menu>
							<ng-container *ngIf="!IsEnable_Duyet">
								<!-- <button mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" type="button" (click)="Duyet(object)" [disabled]="object.IsEnable_Duyet" *ngIf="object.IsVisible_Duyet" matTooltip="Duyệt" color="primary">
									<mat-icon>done_outline</mat-icon>
									<span class="button-text">Duyệt</span>
								</button> -->
								<a [routerLink]="['/duyet-ho-so/ho-so',object.Id]" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" matTooltip="{{ 'COMMON.DETAIL' | translate }}" color="info">
									<mat-icon>remove_red_eye</mat-icon>
									<span class="button-text">Duyệt</span>
								</a>
							</ng-container>
							<ng-container *ngIf="IsEnable_Duyet && object.AllowBack">
								<button (click)="TraLai(object)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" matTooltip="Trả lại xã" color="warn" type="button" [disabled]="!object.AllowBack">
									<mat-icon>undo</mat-icon>
									<span class="button-text">Trả lại xã</span>
								</button>
							</ng-container>
							<button mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" type="button" (click)="Duyet(object,false)" matTooltip="Thảo luận" color="primary">
								<mat-icon>insert_comment</mat-icon>
								<span class="button-text">Thảo luận</span>
							</button>
							<button type="button" (click)="timeline(object)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" color="primary" matTooltip="Xem sơ đồ">
								<mat-icon>timeline</mat-icon>
								<span class="button-text">Xem sơ đồ</span>
							</button>
							<button type="button" (click)="inhuongdan(object)" mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" color="info" matTooltip="Xem hướng dẫn hoàn thiện hồ sơ" *ngIf="object.IsReturn">
								<mat-icon>info</mat-icon>
								<span class="button-text">Xem hướng dẫn</span>
							</button>
							<button mat-button [class.mat-raised-button]="list_button" [class.mat-icon-button]="!list_button" color="info" (click)="InBienNhan(object)" type="button" matTooltip="In biên nhận">
								<!-- *ngIf="object.status!=0" -->
								<mat-icon>print</mat-icon>
								<span class="button-text">In biên nhận</span>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="gridService.model.displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: gridService.model.displayedColumns" (click)="row.highlighted = !row.highlighted" 
						[ngClass]="{hovered: row.hovered, highlighted: row.highlighted,'row-return': row.IsReturn, error:row.IsTre}" 
						(mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
				</table>
				<div class="mat-table__message" *ngIf="!dataSource.hasItems"><span translate="COMMON.NO_RECORD_FOUND"></span></div>
			</div>
			
			<div class="mat-table__bottom" [ngClass]="{'exist-flt': gridService.model.haveFilter}">
				<div class="flt-selected" *ngIf="gridService.model.haveFilter" style="max-width:50%;">
					<mat-chip-list>
						<ng-container *ngFor="let chip of gridService.model.lstChip">
							<mat-chip removable="true" *ngIf="chip.type==2" (removed)="gridService.removeText(chip.key)">
								{{chip.title}}: {{chip.data}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
							<ng-container *ngIf="chip.type==1">
								<mat-chip *ngFor="let item of chip.data" removable="true" (removed)="gridService.remove(item,chip.key);gridService.showClearAllButton()">
									{{chip.title}}: {{item.name}}
									<mat-icon matChipRemove>cancel</mat-icon>
								</mat-chip>
							</ng-container>
						</ng-container>
						<mat-chip class="flt-clear" color="primary" removable="true" *ngIf="gridService.model.isClearAll" (click)="gridService.Clear()">
							Đặt lại
						</mat-chip>
					</mat-chip-list>
				</div>
				<div class="flt-page" style="width: 50%;">
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</kt-portlet>