<style>
	:host .dt-overflow {
		overflow: hidden;
		line-height: 2rem;
		max-height: 8rem;
		-webkit-box-orient: vertical;
		display: block;
		display: -webkit-box;
		overflow: hidden !important;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		max-width: 300px;
	}
	.mw-100px {
		min-width: 100px;
	}
	.mw-150px {
		min-width: 150px;
	}
	.mw-200px {
		min-width: 200px;
	}
	.mw-250px {
		min-width: 250px;
	}
	.mw-300px {
		min-width: 300px;
	}
</style>
<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="close()" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<kt-portlet [options]="{headLarge: true}" >
	<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-form__filtration">
				<h3 class="kt-portlet__head-title">{{_name}}</h3>
			</div>
		</ng-container>
	</kt-portlet-header>

	<div class="kt-portlet__body" style="min-height: 200px;">
		<div class="mat-table__wrapper" id="print-section-detail">
			<table mat-table class="lmat-elevation-z8" [dataSource]="dataTK" >
				<ng-container matColumnDef="STT">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode stt-cell"><span translate="COMMON.STT"></span></th>
					<td mat-cell *matCellDef="let object;let vi = index" class="mat-column-vinCode stt-cell">{{vi + 1}}</td>
				</ng-container>

				<ng-container matColumnDef="SoHoSo">
					<th mat-header-cell *matHeaderCellDef>Số hồ sơ</th>
					<td mat-cell *matCellDef="let object">{{object.SoHoSo}}</td>
				</ng-container>
				<ng-container matColumnDef="HoTen">
					<th nowrap mat-header-cell *matHeaderCellDef>Họ tên</th>
					<td mat-cell *matCellDef="let object">{{object.HoTen}}</td>
				</ng-container>
				<ng-container matColumnDef="Xa">
					<th nowrap mat-header-cell *matHeaderCellDef>Xã</th>
					<td mat-cell *matCellDef="let object">{{object.Title}}</td>
				</ng-container>
				<ng-container matColumnDef="Huyen">
					<th nowrap mat-header-cell *matHeaderCellDef>Huyện</th>
					<td mat-cell *matCellDef="let object">{{object.DistrictName}}</td>
				</ng-container>
				<ng-container matColumnDef="HinhThuc">
					<th nowrap mat-header-cell *matHeaderCellDef>Hình thức</th>
					<td mat-cell *matCellDef="let object">{{object.strHinhThuc}}</td>
				</ng-container>
				<ng-container matColumnDef="ChiPhiYeuCau">
					<th nowrap mat-header-cell *matHeaderCellDef>Số tiền yêu cầu</th>
					<td mat-cell *matCellDef="let object">{{object.ChiPhiYeuCau | mask: 'separator':tsSeparator}}</td>
				</ng-container>
				<ng-container matColumnDef="SoTien">
					<th nowrap mat-header-cell *matHeaderCellDef>Số tiền hỗ trợ</th>
					<td mat-cell *matCellDef="let object">{{object.SoTien | mask: 'separator':tsSeparator}}</td>
				</ng-container>
				<ng-container matColumnDef="CapHoTro">
					<th nowrap mat-header-cell *matHeaderCellDef>Cấp hỗ trợ</th>
					<td mat-cell *matCellDef="let object">{{object.CapHoTro}}</td>
				</ng-container>
				
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row.highlighted = !row.highlighted" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
			</table>

			<div class="mat-table__message" *ngIf="dataTK.length == 0">
				<span translate="COMMON.NO_RECORD_FOUND"></span>
			</div>

		</div>

	</div>
</kt-portlet>
