<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="close()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{isZoomSize ? '7' : '5'}} kt-margin-bottom-10-mobile"
			 style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">Ra quyết định chi</h3>
		</div>
		<div class="col-md-{{isZoomSize ? '7' : '5'}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;">
			<button type="button" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="disabledBtn" matTooltip="{{'COMMON.LUU_DONG' | translate}}">
				<span translate="COMMON.LUU_DONG"></span>&nbsp;&nbsp;
				<div *ngIf="disabledBtn" class="spinner-button-pad"></div>
			</button>
		</div>
	</div>
	
	<form class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body">
			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="0" [showCloseButton]="true" (close)="onAlertClose($event)">
				Không thể lưu, vui lòng kiểm tra lại thông tin!
			</kt-alert>

			<div class="row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Số quyết định" formControlName="SoQD" class="require" required/>
					</mat-form-field>
				</div>
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Ngày ra quyết định" formControlName="NgayQD" type="text" [matDatepicker]="picker">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
		</div>
	</form>
</div>
