<style>
	.row_nguon {
		background-color: #dee2e6;
		color: red;
	}

	.row_tang {
		background-color: lightgreen;
	}

	.row_muc {
		background-color: #dee2e6;
	}
</style>
<kt-portlet [options]="{headLarge: true}">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<button type="button" mat-raised-button (click)="close()" matTooltip="Quay lại">
				<span>Quay lại</span>
			</button>
		</div>
	</div>
	<form class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body">
			<h3 *ngIf="!item.IsVisible_Duyet">Bạn không có quyền duyệt danh sách này</h3>
			<div class="duyeths" *ngIf="item.IsVisible_Duyet">
				<div class="form-group kt-form__group row">
					<div class="col-md-6 m--margin-bottom-20-mobile">
						<h3>{{getTitle()}}</h3>
					</div>
					<div class="col-md-6 m--margin-bottom-20-mobile {{getWidth() > 767 ? 'text-right' : ''}} ">
						<button type="button" mat-raised-button color="primary" (click)="onSubmit(true)" matTooltip="Duyệt" [disabled]="!item.IsEnable_Duyet || disabledBtn">
							Duyệt
						</button>&nbsp;
						<button type="button" mat-raised-button color="warn" (click)="onSubmit(false)" matTooltip="Không duyệt" [disabled]="!item.IsEnable_Duyet || disabledBtn">
							Không Duyệt
						</button>
					</div>
				</div>
				<div class="form-group kt-form__group row">
					<div class="col-lg-12 m--margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid ">
							<input matInput placeholder="Ghi chú" formControlName="note" #focusInput />
						</mat-form-field>
					</div>
					<div class="col-lg-12 m--margin-bottom-20-mobile">
						<dl-image-control formControlName="FileDinhKem" [multiple]="false" nameButton="Chọn tệp đính kèm" [disabled]="disabledBtn">
						</dl-image-control>
					</div>
					<div class="col-lg-12 m--margin-bottom-20-mobile" *ngIf="item.CurrentChecker">
						Đang trong quá trình duyệt của: <b>{{item.CurrentChecker}}</b><br />
						<ng-container *ngIf="item.Deadline">
							Thời hạn <b *ngIf="item.Deadline.IsTre" style="color:red;">{{item.Deadline.Ngay}}</b> <b *ngIf="!item.Deadline.IsTre">{{item.Deadline.Ngay}}</b>
						</ng-container>
					</div>
				</div>
				<mat-accordion>
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>Chi tiết danh sách</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="form-group kt-form__group row">
							<div class="col-lg-2 m--margin-bottom-20-mobile">Tên danh sách:</div>
							<div class="col-lg-4 m--margin-bottom-20-mobile">
								<b>{{item.TenDanhSach}}</b>
							</div>
							<div class="col-lg-2 m--margin-bottom-20-mobile">Tháng:</div>
							<div class="col-lg-4 m--margin-bottom-20-mobile">
								<b>{{item.ThangNhap}}</b>
							</div>
						</div>
						<div class="form-group kt-form__group row">
							<div class="col-lg-2 m--margin-bottom-20-mobile">Xã:</div>
							<div class="col-lg-4 m--margin-bottom-20-mobile">
								<b>{{item.Xa}}</b>
							</div>
							<div class="col-lg-6 m--margin-bottom-20-mobile">
								<button type="button" mat-raised-button color="info" (click)="export()" matTooltip="Xuất danh sách" *ngIf="item.Id>0">
									Export
								</button>
							</div>
						</div>
						<div class="form-group kt-form__group row">
							<div class="col-lg-12 m--margin-bottom-20-mobile">
								<mat-tab-group [selectedIndex]="selected_tab" (selectedIndexChange)="changed_tab($event)">
									<mat-tab label="Danh sách người nhận"></mat-tab>
									<mat-tab label="Danh sách tăng"></mat-tab>
									<mat-tab label="Danh sách giảm"></mat-tab>
								</mat-tab-group>
								<div class="table-responsive">
									<table class="table-bordered table-sm " style="width:100%;">
										<tr>
											<th class="text-center" style="white-space: nowrap;">Họ tên</th>
											<th class="text-center" style="white-space: nowrap;">Số hồ sơ</th>
											<th class="text-center" style="white-space: nowrap;">Cư trú</th>
											<th class="text-center" style="white-space: nowrap;">Thẻ BHYT</th>
											<th class="text-center" style="white-space: nowrap;">Mã KCB</th>
											<th class="text-center" style="white-space: nowrap;">Nơi đăng ký KCB</th>
											<th class="text-center" style="white-space: nowrap;">Tiền lương</th>
											<th class="text-center" style="white-space: nowrap;">Mức NSNN đóng</th>
											<th class="text-center" style="white-space: nowrap;">Ghi chú</th>
										</tr>
										<ng-container *ngFor="let ng of item.Details;let j=index;">
											<tr class="row_nguon">
												<td colspan="9"><b>{{ng.LoaiDoiTuong}}</b></td>
											</tr>
											<ng-container *ngFor="let dt of ng.DoiTuongs; let i=index">
												<tr>
													<td colspan="6"><b><i>{{dt.DoiTuong}}</i></b></td>
													<td>Số lượng:<b>{{tongSL[j][i]}}</b></td>
													<td class="text-right"><b>{{tongMuc[j][i]}}</b></td>
												</tr>
												<ng-container *ngFor="let ncc of dt.NCCs;">
													<tr [ngClass]="{'row_tang':ncc.IsTang}" *ngIf="checkDisplay(ncc)">
														<td>{{ncc.HoTen}}</td>
														<td>{{ncc.SoHoSo}}</td>
														<td>{{ncc.DiaChi}}</td>
														<td>{{ncc.TheBaoHiem}}</td>
														<td>{{ncc.MaKCB}}</td>
														<td>{{ncc.NoiDangKyKCB}}</td>
														<td class="text-right">{{ncc.TienLuong}}</td>
														<td class="text-right">{{ncc.SoTien}}</td>
														<td>{{ncc.IsGiam ? ncc.GhiChuGiam: ncc.GhiChuTang}}</td>
													</tr>
												</ng-container>
											</ng-container>
										</ng-container>
										<tr style=" color: red;">
											<td colspan="6"><b>Tổng số</b></td>
											<td>Số lượng:<b>{{TongSo}}</b></td>
											<td class="text-right"><b>{{TongTien | mask: 'separator':commonService.thousandSeparator}}</b></td>
											<td></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title> Bình luận </mat-panel-title>
						</mat-expansion-panel-header>
						<div class="form-group kt-form__group row">
							<div class="col-lg-12 m--margin-bottom-20-mobile">
								<kt-comment [Loai]="4" [Id]="item.Id"></kt-comment>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</form>
</kt-portlet>
