<kt-portlet>
	<mat-tab-group>
		<mat-tab label="Theo năm">
			<ng-template matTabContent>
				<m-bao-cao-quy-thu-chi></m-bao-cao-quy-thu-chi>
			</ng-template>
		</mat-tab>
		<mat-tab label="Chi tiết thu chi">
			<ng-template matTabContent>
				<m-bao-cao-chi-tiet-thu-chi></m-bao-cao-chi-tiet-thu-chi>
			</ng-template>
		</mat-tab>
		<mat-tab label="Theo nội dung chi">
			<ng-template matTabContent>
				<m-bao-cao-theo-nd-chi></m-bao-cao-theo-nd-chi>
			</ng-template>
		</mat-tab>
		<mat-tab label="Chi quỹ">
			<ng-template matTabContent>
				<m-bao-cao-chi-quy></m-bao-cao-chi-quy>
			</ng-template>
		</mat-tab>
		<mat-tab label="Vận động - sử dụng theo kỳ">
			<ng-template matTabContent>
				<m-bao-cao-theo-ky></m-bao-cao-theo-ky>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</kt-portlet>