<div class="kt-login__body">
	<div class="cover-form-login">
		<!-- <div class="login-logo">
			<img src="{{constants.logo}}" alt="{{constants.title}}" title="{{constants.title}}" />
		</div> -->
		<div class="kt-login__form dl-login-form">
			<div class="kt-login__title" style="margin: auto;">
				<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
			</div>

			<kt-auth-notice></kt-auth-notice>

			<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
				<div class="form-group">
					<input type="text" autocomplete="off" autocomplete="off" readonly
						onfocus="this.removeAttribute('readonly');"
						style="background: url(./assets/images/user.png) left 8px center no-repeat #fff;"
						placeholder="{{ 'AUTH.INPUT.USERNAME' | translate }}" formControlName="username"
						autocomplete="off" />
					<div class="error-message" *ngIf="error_txt.username">{{ error_txt.username }}</div>
				</div>
				<!--begin::Action-->
				<div class="kt-login__actions">
					<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel"
						class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>&nbsp;&nbsp;
					<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary"
						[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
						{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}
					</button>
				</div>
				<!--end::Action-->
			</form>
		</div>
	</div>
</div>