<kt-portlet [options]="{headLarge: true}">
	<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTitle>
			<div class="kt-form__filtration">
				<h3 class="kt-portlet__head-title">{{_name}}</h3>
			</div>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="mat-table__wrapper" [ngStyle]="{'overflow-x': gridService.model.haveFilter?'unset':'auto'}">
			<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort #sort1='matSort'
				style="width: 100%;" matSortDirection="asc" matSortDisableClear [ngClass]="{'dl-table-flt': gridService.model.haveFilter}">
				<ng-container matColumnDef="STT">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">STT</th>
					<td mat-cell class="stt-cell" *matCellDef="let item; let i=index">
						{{i+1}}
					</td>
				</ng-container>
				<ng-container matColumnDef="DotTangQua">
					<th mat-header-cell *matHeaderCellDef style="flex: 0 0 25%">
						<kt-column-filter [gridService]="gridService" enable_sort="true" column_name="DotTangQua" column_title="Đợt nhập niên hạn"></kt-column-filter>
					</th>
					<td mat-cell *matCellDef="let dottangqua" style="flex: 0 0 25%">
						{{dottangqua.DotTangQua}}
					</td>
				</ng-container>
				<ng-container matColumnDef="Nam">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header>Năm</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.Nam}}</td>
				</ng-container>
				<ng-container matColumnDef="CreatedBy">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">
						<span translate="COMMON.CREATED_BY"></span>
					</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.CreatedBy}}</td>
				</ng-container>
				<ng-container matColumnDef="CreatedDate">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">
						<span translate="COMMON.CREATED_DATE"></span>
					</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.CreatedDate}}</td>
				</ng-container>
				<ng-container matColumnDef="UpdatedBy">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">
						<span translate="COMMON.UPDATED_BY"></span>
					</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedBy}}</td>
				</ng-container>
				<ng-container matColumnDef="UpdatedDate">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">
						<span translate="COMMON.UPDATED_DATE"></span>
					</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">{{item.UpdatedDate}}</td>
				</ng-container>
				
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef style="width: 100px;">
						<span translate="COMMON.TACVU"></span>
					</th>
					<td mat-cell *matCellDef="let dottang" style="white-space: nowrap; text-align:left">
						<button (click)="AddWorkplace(dottang.Id)" mat-raised-button matTooltip="Nhập đề xuất" color="primary" *ngIf="this.Capcocau == 3">
						Nhập
						</button>
					</td>
				</ng-container>
	
				<tr mat-header-row *matHeaderRowDef="gridService.model.displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: gridService.model.displayedColumns"></tr>
			</table>
	
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">
				<span translate="COMMON.NO_RECORD_FOUND"></span>
			</div>
		</div>
	
		<!-- start: BOTTOM -->
		<div class="mat-table__bottom" [ngClass]="{'exist-flt': gridService.model.haveFilter}">
			<div class="flt-selected" *ngIf="gridService.model.haveFilter" style="max-width:50%;">
				<mat-chip-list>
					<ng-container *ngFor="let chip of gridService.model.lstChip">
						<mat-chip removable="true" *ngIf="chip.type==2" (removed)="gridService.removeText(chip.key)">
							{{chip.title}}: {{chip.data}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<ng-container *ngIf="chip.type==1">
							<mat-chip *ngFor="let item of chip.data" removable="true"
									  (removed)="gridService.remove(item,chip.key);gridService.showClearAllButton()">
								{{chip.title}}: {{item.name}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
						</ng-container>
					</ng-container>
					<mat-chip class="flt-clear" color="primary" removable="true" *ngIf="gridService.model.isClearAll"
							  (click)="gridService.Clear()">
						Đặt lại
					</mat-chip>
				</mat-chip-list>
			</div>
	
			<div class="flt-page" style="width: 50%;">
				<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
				<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
					[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>

</kt-portlet>

