<kt-portlet>
	<mat-tab-group>
		<mat-tab label="Đối tượng">
			<ng-template matTabContent>
				<m-thong-ke-theo-doi-tuong></m-thong-ke-theo-doi-tuong>
			</ng-template>
		</mat-tab>
		<mat-tab label="Dụng cụ">
			<ng-template matTabContent>
				<m-thong-ke-theo-dung-cu></m-thong-ke-theo-dung-cu>
			</ng-template>
		</mat-tab>
		<mat-tab label="Niên hạn">
			<ng-template matTabContent>
				<m-thong-ke-theo-nien-han></m-thong-ke-theo-nien-han>
			</ng-template>
		</mat-tab>
		<mat-tab label="Tổng hợp">
			<ng-template matTabContent>
				<m-bao-cao-tong-hop></m-bao-cao-tong-hop>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</kt-portlet>