<form class="kt-form" [formGroup]="itemForm">
	<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="0" [showCloseButton]="true" (close)="onAlertClose()">
		Không thể lưu, vui lòng kiểm tra lại thông tin!
	</kt-alert>
	<mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab=$event">
		<mat-tab label="Thông tin hồ sơ">
			<div class="row">
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="{{ 'THONG_TIN_NCC.tinh' | translate }}" formControlName="Province"
							[(value)]="filterprovinces" class="require" required [disabled]="true"
							(selectionChange)="loadGetListDistrictByProvinces(filterprovinces);fillNguyenTruQuan(1);">
							<mat-option [value]="p.id_row" *ngFor="let p of listprovinces;">{{p.Province}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="{{ 'THONG_TIN_NCC.huyen' | translate }}" formControlName="District"
							[(value)]="filterdistrict" class="require" required
							[disabled]="Capcocau===3 || Capcocau===2"
							(selectionChange)="loadGetListWardByDistrict(filterdistrict);fillNguyenTruQuan(2);">
							<mat-option [value]="d.ID_Row" *ngFor="let d of listdistrict;">{{d.District}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="{{ 'THONG_TIN_NCC.xa' | translate }}" formControlName="Id_Xa"
							class="require" [(value)]="filterward" required [disabled]="Capcocau===3"
							(selectionChange)="loadKhomAp();changeLoaiHS(Id_LoaiHoSo);fillNguyenTruQuan(3);">
							<mat-option [value]="w.ID_Row" *ngFor="let w of listward;">{{w.Ward}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="{{ 'THONG_TIN_NCC.ap' | translate }}" formControlName="Id_KhomAp"
							[(value)]="filterKhom" class="require" required (selectionChange)="fillNguyenTruQuan(4);">
							<mat-option [value]="k.id" *ngFor="let k of listKhomAp;">{{k.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="{{ 'THONG_TIN_NCC.diachi' | translate }}"
							formControlName="DiaChi" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="{{ 'THONG_TIN_NCC.sohoso' | translate }}" formControlName="SoHoSo"
							#focusInput style="text-transform:uppercase" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="{{ 'THONG_TIN_NCC.bidanh' | translate }}" formControlName="BiDanh"
							style="text-transform:capitalize" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="{{ 'THONG_TIN_NCC.hoten' | translate }}" formControlName="HoTen"
							class="require" required style="text-transform:capitalize" />
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="{{ 'THONG_TIN_NCC.ngaysinh' | translate }}"
							formControlName="NgaySinh" type="text" [matDatepicker]="picker" [max]="maxNS"
							(dateChange)="changeNS()">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="{{ 'THONG_TIN_NCC.gioitinh' | translate }}" formControlName="GioiTinh"
							class="require" required>
							<mat-option [value]="gt.id" *ngFor="let gt of listgioitinh;">{{gt.title}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<m-datetime-picker [placeholder]="'Ngày gửi'" [required]="true" [disabled]="!allowEdit"
						formControlName="NgayGui"></m-datetime-picker>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<button type="button" mat-raised-button color="accent" (click)="tieptuc()" [disabled]="disabledBtn"
						matTooltip="{{'COMMON.LUU_DONG' | translate}}">
						<span translate="COMMON.TIEPTUC"></span>
					</button>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Thông tin trợ cấp">
			<div [hidden]="!nhapTC">
				<table style="width:100%">
					<ng-template #libInsertion></ng-template>
				</table>
			</div>
			<div class="row" style="margin-top: -1em;">
				<div class="col-md-12 text-center">
					<button type="button" mat-raised-button color="accent" (click)="tieptuc()" [disabled]="disabledBtn"
						matTooltip="{{'COMMON.LUU_DONG' | translate}}">
						<span translate="COMMON.TIEPTUC"></span>
					</button>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Hồ sơ, giấy tờ đính kèm">
			<kt-ho-so-giay-to [parentForm]="itemForm" [GiayTos]="GiayTos" [isBangTQ]="isBangTQ" [allowEdit]="allowEdit">
			</kt-ho-so-giay-to>
			<div class="form-group kt-form__group row">
				<div class="col-md-12 text-center">
					<button type="button" class="hide-view-sm" mat-raised-button color="primary"
						(click)="onSubmit(true)" [disabled]="disabledBtn" *ngIf="item.Id === 0"
						matTooltip="{{'COMMON.LUU_TIEPTUC' | translate}}">
						<span translate="COMMON.LUU_TIEPTUC"></span>
					</button>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</form>