<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="close()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">

	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{idMauSoLieu == 0 ? (isZoomSize ? '7' : '5') : (isZoomSize ? '9' : '7')}} kt-margin-bottom-10-mobile" style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
		<div class="col-md-{{idMauSoLieu == 0 ? (isZoomSize ? '5' : '7') : (isZoomSize ? '3' : '5')}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;">
			<button type="button" mat-raised-button color="accent" (click)="onSubmit(true)" [disabled]="disabledBtn" matTooltip="{{'COMMON.LUU_DONG' | translate}}">
				<span translate="COMMON.LUU_DONG"></span>
			</button>
			<button type="button" class="hide-view-sm" mat-raised-button color="primary" (click)="onSubmit(false)" [disabled]="disabledBtn" *ngIf="item.Id == 0" matTooltip="{{'COMMON.LUU_TIEPTUC' | translate}}">
				<span translate="COMMON.LUU_TIEPTUC"></span>
			</button>
		</div>
	</div>
	<form class="kt-form" [formGroup]="itemForm">
		<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="0" (close)="onAlertClose($event)">
			Không thể lưu, vui lòng nhập đủ thông tin!
		</kt-alert>
		<kt-alert *ngIf="errorChonDonVi" type="warn" [showCloseButton]="true" [duration]="0" (close)="onAlertCloseDonVi($event)">
			Không thể lưu, vui lòng thêm đơn vị!
		</kt-alert>
		
		<div class="kt-portlet__body">
			<div class="form-group kt-form__group row">
				<div class="col-lg-6 m--margin-bottom-20-mobile">
					<button type="button" color="accent" (click)="ChonDonVi()" mat-raised-button matTooltip="{{ 'MAU_SO_LIEU.chondonvi' | translate }}">
						<span>{{ 'MAU_SO_LIEU.chondonvi' | translate }}</span>
					</button>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<ng-container *ngIf="IsMauTheoPhong && item.Id == 0">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select [(ngModel)]="phienban" [ngModelOptions]="{standalone: true}" placeholder="Chọn năm" (selectionChange)="changeVer()">
								<mat-option [value]="0">--Mẫu gốc--</mat-option>
								<mat-option *ngFor="let opt of lstVer" [value]="opt.id">{{opt.title}}</mat-option>
							</mat-select>
						</mat-form-field>
					</ng-container>
				</div>
				<div class="col-lg-3 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Thời gian" formControlName="ThoiGian" type="text" [matDatepicker]="picker" 
							class="require" required [max]="max" [min]="min">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-lg-12 m--margin-bottom-20-mobile">
					<ng-container *ngIf="ListDonVi.length > 0">
						<div class="col-lg-12 m--margin-bottom-20-mobie">
							<h6>{{ 'MAU_SO_LIEU.dsdonvi' | translate }}</h6>
							<table class="table-bordered table-sm" style="width:100%;">
								<tr>
									<th class="text-center" style="width:50px">STT</th>
									<th class="text-center">Tên đơn vị</th>
									<th class="text-center" style="width:100px;">Thao tác</th>
								</tr>
								<ng-container *ngFor="let donvi of ListDonVi; let vi = index">
									<tr>
										<td class="text-center">{{vi+1}}</td>
										<td>{{donvi.title}}</td>
										<td>
											<button mat-button mat-icon-button color="warn" type="button" matTooltip="{{ 'COMMON.DELETE' | translate }}"
												(click)="DeleteWorkplace(vi)" *ngIf="!donvi.IsNhap">
												<mat-icon>delete</mat-icon>
											</button>
										</td>
									</tr>
								</ng-container>
							</table>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</form>
</div>
