<div class="btn-close-container">
	<button class="btn-close" type="button" mat-mini-fab color="" (click)="close()" [disabled]="disabledBtn" title="Đóng">
		<mat-icon>clear</mat-icon>
	</button>
</div>
<div class="kt-portlet"
	 [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-{{item.Id == 0 ? (isZoomSize ? '7' : '5') : (isZoomSize ? '9' : '7')}} kt-margin-bottom-10-mobile"
			 style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
		<div class="col-md-{{item.Id == 0 ? (isZoomSize ? '5' : '7') : (isZoomSize ? '3' : '5')}} kt-margin-bottom-10-mobile" style="margin-top: 10px; text-align: right;">
			<ng-container *ngIf="allowEdit">
				<button type="button" mat-raised-button color="accent" (click)="onSubmit(true)" [disabled]="disabledBtn" matTooltip="{{'COMMON.LUU_DONG' | translate}}">
					<span translate="COMMON.LUU_DONG"></span>&nbsp;&nbsp;
					<div *ngIf="disabledBtn" class="spinner-button-pad"></div>
				</button>
			</ng-container>
		</div>
	</div>
	
	<form class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-lg-8 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Tên danh sách" formControlName="TenDanhSach" #focusInput class="require" required/>
					</mat-form-field>
				</div>
				<div class="col-lg-4 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput type="number" placeholder="Năm" formControlName="Nam"/>
					</mat-form-field>
				</div>
				<div class="col-lg-8 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="Lý do" formControlName="LyDo"/>
					</mat-form-field>
				</div>
				<div class="col-lg-4 m--margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput [(ngModel)]="Filter" [ngModelOptions]="{standalone: true}" placeholder="Tìm kiếm theo số hồ sơ, họ tên, địa chỉ" (input)="filterText()" />
						<button mat-icon-button matSuffix (click)="clearFilter($event)" matTooltip="Xóa tìm kiếm">
							<mat-icon>clear</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table-bordered table-sm" style="width:100%;">
							<tr>
								<th class="text-center">STT</th>
								<th class="text-center">Họ tên</th>
								<th class="text-center">Số hồ sơ</th>
								<th class="text-center">Địa chỉ</th>
								<th class="text-center">Số tiền</th>
								<th class="text-center">Ghi chú</th>
							</tr>
							<ng-container *ngFor="let dt of treeNguoiNhan; let j=index;">
								<tr>
									<td colspan="3"><b><i>{{dt.DoiTuong}}</i></b></td>
									<td>Số lượng: <b>{{tongSL[j]}}</b></td>
									<td class="text-right"><b>{{tongDT[j]}}</b></td>
									<td></td>
								</tr>
								<ng-container *ngFor="let ncc of dt.NCCs; let i=index;">
									<tr>
										<td>{{i+1}}</td>
										<td>{{ncc.HoTen}}</td>
										<td>{{ncc.SoHoSo}}</td>
										<td>{{ncc.DiaChi}}</td>
										<td class="text-right">{{ncc.SoTien | mask: 'separator':danhMucService.thousandSeparator}}</td>
										<td>{{ncc.GhiChu}}</td>
									</tr>
								</ng-container>
							</ng-container>
							<tr style=" color: red;">
								<td colspan="3"><b>Tổng số</b></td>
								<td>Số lượng: <b>{{TongSo}}</b></td>
								<td class="text-right"><b>{{TongTien | mask: 'separator':danhMucService.thousandSeparator}}</b></td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		</div>

	</form>

</div>